* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #1f2937;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #0f172a;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    padding: 80px 10%;
    background: linear-gradient(135deg, #2563eb, #0f172a);
    color: white;
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    padding: 12px 24px;
    background: white;          /* 👈 important */
    color: #2563eb;             /* 👈 visible text */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}




/* Sections */
.section {
    padding: 60px 10%;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.gray {
    background: #f1f5f9;
}

/* Skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.skills-grid span {
    background: white;
    padding: 12px;
    border-left: 4px solid #2563eb;
}

/* Projects */
.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-card span {
    display: inline-block;
    margin-top: 10px;
    color: #2563eb;
    font-weight: bold;
}

.project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}


/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #0f172a;
    color: white;
}
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 30px;   /* 👈 increase gap here */
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
/* Mobile Responsive */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 8px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .section {
        padding: 40px 20px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}



